@import 'anim';
@import 'styles.scss';

.vh-100{
    min-height: 100vh;
}

body, html{
    min-height: 100vh !important;
}

div.container-fluid:nth-child(2) {
    height: 100%;
  }
  
  
  .main-row {
    min-height: 100%;
  }

  #hero{
    height: 10%;
  }


.fs-35 {
    font-size: 3.5em;
}

.text-grey{
    color: gray;
}

.mb-20{
    margin-bottom: 30em;
}

.heart-absolute{
    position: absolute;
    bottom: 2rem;
    right: 2rem;
}

.chosen:hover{
    background-color: #515151cc;
}

.songOver:hover{
    text-decoration: underline;
}